apiVersion: apps/v1
kind: Deployment
metadata:
  name: jasm
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: controller
        args:
        - --leader-elect=true
        - --metrics-bind-address=:8080
        - --health-probe-bind-address=:8081
        - --zap-log-level=warn
        - --zap-devel=false
        - --zap-encoder=json
        - --zap-stacktrace-level=error
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        env:
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: jasm-config
              key: AWS_REGION
