apiVersion: apps/v1
kind: Deployment
metadata:
  name: jasm
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: controller
        args:
        - --leader-elect=false
        - --metrics-bind-address=:8080
        - --health-probe-bind-address=:8081
        - --zap-log-level=debug
        - --zap-devel=true
        - --zap-encoder=console
        resources:
          limits:
            cpu: 100m
            memory: 64Mi
          requests:
            cpu: 50m
            memory: 32Mi
        env:
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: jasm-config
              key: AWS_REGION
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_ACCESS_KEY_ID
              optional: true
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_SECRET_ACCESS_KEY
              optional: true
